.test {
  flex: 0 0 600px;
}

.title {
  color: aliceblue;
  margin: 0;
  flex: 100%;
}

.block {
  padding: 10px 20px;
}

.blockTitle {
  color: white;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}

.blockContent {
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 5px 5px #111;
  box-sizing: border-box;
  padding: 5px;
}

.dataList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  height: 266.7px;
  overflow: auto;
}

.dataList li {
  padding: 5px 10px;
  margin: 5px 0;
}

.dataList li:nth-child(odd) {
  background: #eee;
}

.remove {
  float: right;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  color: #ccc;
  background: #999;
  border: 0;
  border-radius: 50%;
  text-align: center;
}

.remove:hover {
  background: #666;
  cursor: pointer;
}

.inputArea {
  height: 30px;
  padding: 2px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #ccc;
}

.inputArea label {
}

.inputArea input {
  margin-left: 5px;
  border: 0;
  border-bottom: 1px solid #ccc;
  transition: border-color 0.3s;
}

.inputArea input:focus {
  border-bottom: 1px solid #666;
  outline: none;
}

.add {
  border: 1px solid #d9d9d9;
  color: #666;
  border-radius: 3px;
  padding: 5px 15px;
  line-height: 1;
  transition: border-color 0.3s;
  cursor: pointer;
  background-color: white;
}

.add:hover {
  border-color: #666;
}

.dialog {
  margin: 10px;
  padding: 10px;
  text-align: left;
  height: 200px;
  overflow: auto;
  background: #ccc;
  border-radius: 2px;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  margin: 0;
}

.setting {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  justify-content: center;
}

.setting label {
  flex: 0 0 24%;
  overflow: hidden;
}

.setting input {
  margin: 0 5px;
  width: 80%;
  border: 0;
  border-bottom: 1px solid #ccc;
  transition: border-color 0.3s;
  text-align: center;
}

.setting input:focus {
  border-bottom: 1px solid #666;
  outline: none;
}

.setting button {
  border: 1px solid #d9d9d9;
  color: #666;
  border-radius: 3px;
  padding: 5px 15px;
  line-height: 1;
  transition: border-color 0.3s;
  cursor: pointer;
  background-color: white;
  margin: 20px 10px;
}

.setting button:hover {
  border-color: #666;
}

.setting button.disabled {
  background: #666;
  color: #ddd;
  border: none;
  opacity: 0.5;
  cursor: not-allowed;
}
